/* 스킵메뉴 */
#sikp {
  position: relative;
}
#sikp a {
  background: #000;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 5px;
  left: -400px;
}
#sikp a:active,
#sikp a:focus {
  left: 5px;
}

/* 컨테이너 */
/* common */
.container {
  width: 1160px;
  margin: 0 auto;
}

/* 섹션요소 */
.section {
  padding: 120px 0;
}
.section > h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.section > p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 70px;
  text-align: center;
  color: #777;
}
.section > span {
  display: block;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 16px;
}
